/* ------------------------------------------------------------------------- */
/* fonts
/* ------------------------------------------------------------------------- */
@font-face {
  font-family: "pretendard";
  src: url(../fonts/PretendardVariable.woff2);
}
@font-face {
  font-family: "tt";
  src: url(../fonts/TT.woff);
}
@font-face {
  font-family: "ttBold";
  src: url(../fonts/TTTravels-DemiBoldItalic.woff);
}


/* ------------------------------------------------------------------------- */
/* scrollbar / html / body / utility
/* ------------------------------------------------------------------------- */
/*===== scrollbar =====*/
::-webkit-scrollbar {width: 10px; padding-right: .2rem;}
::-webkit-scrollbar-track {background-color: transparent;}
::-webkit-scrollbar-thumb { 
  background-color: var(--primary); background-clip: padding-box;
  border: 2px solid transparent; border-radius: 2rem;
}

/*===== drag-color =====*/
::selection {background-color: var(--primary); color: var(--WT);}

/*===== html, body =====*/
html {font-size: 62.5%; scroll-behavior: smooth;}
body{
  overflow-x: hidden;
  background-image: var(--bgimg); background-size: 100%;
  font-family: "pretendard"; color: var(--text);
  transition: all .15s;
}
body.noScroll {overflow-y: hidden; touch-action: none;}


/*===== utility =====*/
.soundOnly {
  width: 1px !important; height: 1px !important;
  padding: 0 !important; margin: -1px !important;
  border: 0 !important;
  position: absolute !important;
  overflow: hidden !important;
  white-space: nowrap !important;
  clip: rect(0, 0, 0, 0) !important;
}
.TT {font-family: 'TT'; font-weight: 600;}

/*===== flex-utility =====*/
.fxCenter {display: flex; align-items: center; justify-content: center;}
.fxAround {display: flex; align-items: center; justify-content: space-around;}
.fxBtween {display: flex; align-items: center; justify-content: space-between;}
.fxEvenly {display: flex; align-items: center; justify-content: space-evenly;}

.fxCol {display: flex; flex-direction: column; align-items: center;}
.fxColCenter {display: flex; flex-direction: column; align-items: center; justify-content: center;}


/*===== layOut =====*/


/* ------------------------------------------------------------------------- */
/* form > input, textarea, select, button
/* ------------------------------------------------------------------------- */






/* ------------------------------------------------------------------------- */
/* Section
/* ------------------------------------------------------------------------- */
.sec {
  width: 100%; overflow: hidden;
  margin-top: 10rem;
  position: relative;

  .sec-inner {
    width: 100%; 
    max-width: calc(160rem + 10%); padding: 0 5%; 
    margin: auto;

    .sec-head {
      width: fit-content; height: 8rem;
      margin: 5rem auto; padding: 0 10%;
      display: flex; align-items: center; justify-content: center;
      border-top: 2px solid var(--primary); border-bottom: 2px solid var(--primary);
      color:  var(--text);

      .sec-tit {font-family: 'TT'; font-size: 2.4rem; font-weight: 600;}
    }
    
    .sec-desc {
      text-align: center;
      font-size: 1.6rem; line-height: 1.6;
      padding-bottom: 6rem;

      .TT {font-family: 'TT'; font-weight: 600;}
      b.bold {display: block; margin-top: 2rem;}
    }
  }
}


/* ------------------------------------------------------------------------- */
/* Tabs + TabContet
/* ------------------------------------------------------------------------- */
ul.tabs {
  margin-bottom: 5rem;
  display: flex; align-items: center; justify-content: center; gap: 2rem;
  text-align: center;

  li { width: calc(100% / 3); cursor: pointer; position: relative;
    &::after {content: '';
      display: block;
      width: 0%; height: 2px;
      background-color: var(--primary);
      position: absolute; bottom: -1rem; left: 50%; transform: translateX(-50%);
      transition: .5s ease;
    }
    &:hover::after {width: 50%;}
    
    button {font-size: 2rem; font-weight: 500;}
  }
}

.tab-con{
  .tcon-inner {display: grid; grid-template-columns: repeat(2, 1fr); gap: 8rem;
  }
}
