/* ------------------------------------------------------------------------- */
/* Drag
/* ------------------------------------------------------------------------- */
.secDrag {position: relative;
  button {position: absolute; top: 40%; left: 50%; transform: translateX(-50%);
    .savedIco {transition: color 0.2s ease, trnasform 0.3s ease; transform: scale(0.9);
      &:hover {color: var(--primary); transform: scale(1);}
    }
  }

  .drag-wrap {
    margin-top: 5rem;
    display: grid; grid-template-columns: repeat(3, 1fr); 
    align-items: center; justify-content: space-between; gap: 3rem;
    
    .drag-deco {
      position: relative;
      height: 50rem;
      display: grid; grid-template-columns: repeat(3,1fr); align-items: center; gap: 2rem;
    
    }
    img {margin: auto;}
  }
}