/* ------------------------------------------------------------------------- */
/* Hero
/* ------------------------------------------------------------------------- */
/* 탭 버튼 */
.hero-tabs {
  width: 100%; height: 5rem; 
  margin-bottom: 0; gap: 0;
  display: flex;
  box-shadow: var(--boxshadow);
  container-type: inline-size;
}
.hero-tabs li {
  width: 50%; height: 100%;
  transition: width 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94);

  & + li { border-left: 1px solid var(--BK); }
  &::after {display: none;}
}

.hero-tabs  .tab-btn {
  width: 100%; height: 100%;
  font-family: 'TT'; font-size: 1.6rem; font-weight: 600;
  transition: background-color .3s ease, color 0.3s ease;

  &:hover, &.hovered, &.active { 
    color: var(--primary); background-color: var(--WT); 
    box-shadow: var(--boxshadow); cursor: pointer;
  }
}

/* 탭 패널 */
.hero-hover-wrap {
  width: 50%; height: 100%; overflow-x: hidden;
  transition: width 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94);

  &.expanded { width: 70%;}
  &.shrunk { width: 30%; }
  &.tab-active { width: 100%; }
  &.tab-inactive { width: 0; }
}
.hero-all {height: 100%; display: flex; align-items: flex-start;}
.hero-wrap {
  height: calc(100% - 5rem);
  overflow-y: scroll; overflow-x: hidden;
  color: var(--text3);
}
.hero-container {
  display: flex; flex-direction: column; gap: 4rem;
  padding: 0 5% 5% 5%;
  container-type: inline-size;
  container-name: hero-left;
}

.main-head {
  width: fit-content; height: 8rem;
  margin: 5rem auto; padding: 0 10%;
  display: flex; align-items: center; justify-content: center;
  border-top: 2px solid var(--primary); border-bottom: 2px solid var(--primary);
}
.main-head .main-tit {font-family: 'TT'; font-size: 2.4rem; font-weight: 600; color: var(--text);}

.mainLogo {margin: auto; max-width: 20rem;}
.desc {line-height: 1.6;}
.hero-needs {display: flex; flex-direction: column; gap: 4rem;}
.hero-needs .sub-tit {text-align: center; font-size: 2.4rem; font-weight: 600; line-height: 1.5;}
.hero-needs .needs {display: flex; align-items: center; gap: 4rem;}
.hero-needs .needs img {min-width: 15rem;}
.hero-needs .needs .needs-list {display: flex; flex-direction: column; gap: 1.6rem;}
.hero-needs .needs .needs-list li {display: flex; align-items: center; gap: 1rem; white-space: nowrap;
  &::before {content: '';
    display: inline-flex;
    width: 4px; height: 4px; 
    background-color: var(--text3); border-radius: 50%;
  }
}
.hero-needs .circleImg {
  width: 100%; 
  display: flex; align-items: center; justify-content: space-between; gap: 2rem;

  img {min-width: 6rem;}
}
.btn.Add {margin-top: 2.4rem;}

/* right */
.hero-wrap.right {
  background: var(--bggradi-WT); border-left: 1px solid var(--BK);
  container-type: inline-size; container-name: hero-right;
}
.right .hero-con {width: 100%; display: flex; align-items: flex-end; justify-content: space-around; gap: 4rem;}
.plantStatus {width: 100%; display: flex; align-items: center; justify-content: space-around;}
.plantStatus span {font-family: 'TT'; font-weight: 500; font-size: 1.8rem;

  &:nth-child(2) {font-size: 4.8rem; font-weight: 700; line-height: 1.5;}
  &.green {color: var(--primary);}
  &.gray {color: var(--text3);}
  &.red {color: var(--secondary-red);}
}
.subPlant {display: flex; align-items: flex-end; gap: 4rem;}

.addPlant {flex-wrap: wrap;}
.addPlant .fxColCenter {flex: 1 1 calc(25% - 2rem); min-width: 8rem; max-width: 26rem; position: relative;}
.fxColCenter span {line-height: 4rem;}
.addPlant .plant-del {
  width: 1.6rem; height: 1.6rem;
  background-image: url(../img/xbtn.png); background-repeat: no-repeat; background-size: 100%;
  position: absolute; right: 1.6rem; top: 1.6rem; opacity: 0; 
  transition: opacity 0.2s ease;
}
.addPlant:hover .plant-del {opacity: 1;}


/* ------------------------------------------------------------------------- */
/*  Responsive
/* ------------------------------------------------------------------------- */
/*===== container =====*/
@container hero-right (max-width: 768px) {
  .hero-con { gap: 0; }
  .plantStatus span:nth-child(2) { font-size: 4rem; }
}

@container hero-left (max-width: 500px) {
  .desc { font-size: 1.4rem; }
  .hero-needs  .sub-tit { font-size: 2rem; }
  .hero-needs .needs { flex-direction: column; }
  .hero-needs .needs img { min-width: 10rem; }
  .hero-needs .needs .needs-list { gap: 1rem; }
  .hero-needs .needs .needs-list li { font-size: 1.4rem; }
  .circleImg img { min-width: 0; width: 30%; }
}

@container hero-right (max-width: 500px) {
  .right .hero-con{ flex-direction: column; align-items: center; gap: 4rem; }
  .addPlant {flex-direction: row;}
}


/*===== media =====*/
@media (max-width: 1024px) {
  .main-head { height: 6rem; }
  .main-head .main-tit { font-size: 2rem; }

  .hero-tabs { height: 4rem;}
  .hero-tabs .tab-btn { font-size: 1.4rem; }

  .hero-hover-wrap {width: 100%; display: none;}
  .hero-hover-wrap.tab-active {display: block;}
  .hero-hover-wrap.expanded,
  .hero-hover-wrap.shrunk {width: 100%;}
  .hero-wrap.right {border: none;}
}

@media (max-width: 768px) {
  .needs { flex-direction: column; }
}
