/* ------------------------------------------------------------------------- */
/* root
/* ------------------------------------------------------------------------- */
:root{
  --BK: #000;
  --WT: #fff;
  --primary: #00887B;
  --secondary-red: #FD6955;
  --secondary-red2: #ff3c22;
  --secondary-ivory: #F3F0DF;
  --text: #242426;
  --text5: #7c7c7e;
  
  --bgimg: url(../img/paper_background.jpg);
  --bggradi: linear-gradient(180deg, rgba(0, 136, 122, 0.2) 0%, rgba(243, 240, 223, .4) 50%, rgba(253, 105, 85, .4) 100%),url(../img/paper_background.jpg);
  --bggradi-WT: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
  --boxshadow : 0 10px 30px rgba(0,0,0,0.06);

  --header-h: 10rem;
}

/* ======= media ======= */
@media (max-width:1024px) {
  :root {--header-h: 8rem;}
}

@media (max-width:768px) {
  :root {--header-h: 6rem;}
}